[Unit]
Description=DES slave node group 2
After=network.target

[Service]
Type=simple
# wait for network to come up
ExecStartPre=/bin/sleep 10 
ExecStart=/usr/local/bin/slave_node_wrapper.sh
Restart=always
RestartSec=3
# required to set the task priorities
User=root

[Install]
WantedBy=multi-user.target
